version: '3'
services:
  influxdb:
    image: influxdb:latest
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUX_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=my-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
  telegraf:
    image: telegraf:latest
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
    #entrypoint: ["cat", "/etc/telegraf.conf"]
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/:/etc/grafana/provisioning:ro
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
    depends_on:
      - influxdb
  sensor1:
    image: sensor:latest
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_URL=http://influxdb:8086/write?db=my-bucket
      - SENSOR_NAME=sensor1
  sensor2:
    image: sensor:latest
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_URL=http://influxdb:8086/write?db=my-bucket
      - SENSOR_NAME=sensor2
