INFLUX_TOKEN=z19A8impPMEZZWImKtK19RIYKxO4HKqaQnTq17yqcq12Hgnt8VPnK8QbPLg-sA8Ms8GcbtXnfQzzMyICL6uFGQ==
INFLUX_USER=my-user
INFLUX_PASSWORD=my-password
GRAFANA_USERNAME=my-user
GRAFANA_PASSWORD=my-password